/* chrome */
html {
  --cr-card-background-color: #292a2d;
  --cr-elevation-2: #0000004d 0 1px 2px 0, #00000026 0 2px 6px 2px;
  --cr-toolbar-field-width: 680px;
  --cr-separator-line: 1px solid #ffffff1a;
}

body {
  background: #202124;
  color: #fff;
  margin: 0;
}

a,
a:visited {
  color: #8ab4f8;
}

.card {
  background-color: var(--cr-card-background-color);
  box-shadow: var(--cr-elevation-2);
}
.card.bordered {
  border-radius: 8px;
}
.card .section {
  font-size: 13px;
  line-height: 20px;
  padding: 0 20px;
}
.card .section.hr {
  border-top: var(--cr-separator-line);
}
.card .section .section-title {
  font-size: 12px;
}
.card .section .section-content {
  color: #9aa0a6;
}

.page-header {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.page-header img {
  margin-right: 12px;
}

/* extension */

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.contents {
  box-sizing: border-box;
  flex: 1;
  margin: 0 auto;
  max-width: var(--cr-toolbar-field-width);
  padding-bottom: 64px;
}

.page-header {
  padding: 20px 0;
}

.card .padded {
  padding: 12px 20px;
}

.form-group {
  display: flex;
}

input[type='checkbox'],
label[for] {
  cursor: pointer;
}

label[for] {
  flex: 1;
  line-height: 44px;
}
